@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-text: #EF4444;
  --primary-black: #13151a;
  --secondary-black: #23262d;
}

* {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: auto;
  padding: 3rem 1rem;
  width: 500px;
  max-width: calc(100% - 2rem);
  background-color: var(--primary-black);
}

.neon {
  color: white;
  animation: glow 1s infinite alternate;
}

.neon:hover {
  animation: flicker 1.5s infinite alternate;
  cursor: crosshair;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0.1em white, 0 0 0.2em var(--neon-text),
      0 0 0.3em var(--neon-text), 0 0 0.3em var(--neon-text),
      0 0 0.75em var(--neon-text), 0 0 0.9em var(--neon-text),
      0 0 1em var(--neon-text);
  }

  100% {
    text-shadow: 0 0 0.15em white, 0 0 0.3em var(--neon-text),
      0 0 0.4em var(--neon-text), 0 0 0.4em var(--neon-text),
      0 0 0.8em var(--neon-text), 0 0 0.9em var(--neon-text),
      0 0 1em var(--neon-text);
  }
}

@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 0.1em white, 0 0 0.2em var(--neon-text),
      0 0 0.3em var(--neon-text), 0 0 0.3em var(--neon-text),
      0 0 0.75em var(--neon-text), 0 0 0.9em var(--neon-text),
      0 0 1em var(--neon-text);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}