@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(to left, white, red);
}

* {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: auto;
  padding: 4rem 1rem;
  width: 500px;
  max-width: calc(100% - 2rem);
}

h1 {
  background-clip: text;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 14);
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 0.2em;
}